Q1
Name the four built-in data structures in python. Give one examples for each

list  eg [1,23,45,6]
set   eg {'Rice','Yam','Fufu'}
dictionary  eg {'a':4,'b':4}
tuple  eg ('January','Febrauary','March')

2.i lists are mutable while tuples are not mutable
  ii lists are ordered, tuples are not

Q3
Make a list containing names of five animals with a variable name animal_list

Write a code for the following:

Print the first two animals
Print the last two animals
Add three extra animals to the variable animal_list
Remove the first two animals from the variable animal_list
How many animals are in the animal_list?
Create a variable animal_set which stores the set of animal_list
How many elements are in the animal_set?

In [1]:
animal_list = ['Dog','cat','ant','falcon','snake']
animal_list

['Dog', 'cat', 'ant', 'falcon', 'snake']

In [2]:
#Print the first two animals
animal_list[:2]

['Dog', 'cat']

In [3]:
#Print the last two animals
animal_list[-2:]

['falcon', 'snake']

In [4]:
animal_list.extend(['lion','frog','spider'])

In [5]:
animal_list

['Dog', 'cat', 'ant', 'falcon', 'snake', 'lion', 'frog', 'spider']

In [24]:
#Remove the first two animals from the variable animal_list
del animal_list[:2]
animal_list

['snake', 'lion', 'frog', 'spider']

In [9]:
#How many animals are in the animal_list?
len(animal_list)

6

In [2]:
#Create a variable animal_set which stores the set of animal_list
animal_set = set(animal_list)
animal_set

{'Dog', 'ant', 'cat', 'falcon', 'snake'}

In [15]:
#How many elements are in the animal_set?
len(animal_set)

6

Q4
Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [3]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]
suitcase

['sunglasses', 'hat', 'passport', 'laptop', 'suit', 'shoes']

In [4]:
#Create a list called first containing only the two first items from suitcase.
first = suitcase[0:2]
first

['sunglasses', 'hat']

In [19]:
#Create a list called middle containing only the two middle items from suitcase.
middle = suitcase[2:4]
middle

['passport', 'laptop']

In [20]:
#Create a list called last made up only of the last two items from suitcase
last = suitcase[-2:]
last

['suit', 'shoes']

Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

values = [20,25,30,40,45,50,55,60,65,70]

In [5]:
values = [20,25,30,40,45,50,55,60,65,70]
values

[20, 25, 30, 40, 45, 50, 55, 60, 65, 70]

In [22]:
values.insert(3,35)

In [23]:
values

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

Q6
Given that Python lists and Python tuples are quite similar – when might you prefer to use a tuple over a list?

I prefer a tuple over a list to store things that are related and fixed. Examples days of week, months of the year

Create a dictionary with 5 Ghana regions and their capitals and store it in the variable region_capital

Print out the keys of region_capital
Print out the values of region_capital

In [6]:
region_capital = {'Greater Accra':'Accra', 'Central':'Cape Coast','Eastern': 'Koforidua','Ashanti':'Kumasi','Volta':'Ho'}
region_capital

{'Greater Accra': 'Accra',
 'Central': 'Cape Coast',
 'Eastern': 'Koforidua',
 'Ashanti': 'Kumasi',
 'Volta': 'Ho'}

In [29]:
#Print out the keys of region_capital
print(region_capital.keys())

dict_keys(['Greater Accra', 'Central', 'Eastern', 'Ashanti', 'Volta'])

In [33]:
#Print out the values of region_capital
print(region_capital.values())

dict_values(['Accra', 'Cape Coast', 'Koforidua', 'Kumasi', 'Ho'])

Q8¶
values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]

Using the codes above answer the following questions:

What is the total number of elements in values?
What is the highest occuring number in the values variable?
Convert values into a set and store it into a variable named values_set
How many elements are in the variable values_set?

In [7]:
values = [3,3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]
values

[3, 3, 4, 5, 6, 3, 4, 3, 5, 2, 4, 2, 5, 6, 1, 6]

In [40]:
len(values)

16

In [84]:
#What is the highest occuring number in the values variable
counter = 0   #set a counter variable
num = values[0]  #set a number variable to any number in list values
      
for i in values:  #loop through the values list
    current_frequency = values.count(i)  #count the number of occurences for the element and store it in a variable current_frequency
    if(current_frequency> counter): # if the current_frequency is greater than the counter
        counter = current_frequency  # the current_frequency is set to the counter
        num = i                      #get the number of that current_frequency and set it e
num

3

In [62]:
#Convert values into a set and store it into a variable named values_set
values_set = set(values)
values_set

{1, 2, 3, 4, 5, 6}

In [63]:
#How many elements are in the variable values_set?
len(values_set)

6

Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [49]:
dictionary=dict()
for num in range(1,16):
    dictionary[num]= num**2
dictionary

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [56]:
d = {'x':[num for num in range(11,21)],'y':[num for num in range(21,31)],'z':[num for num in range(31,41)]}

In [57]:
d

{'x': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 'y': [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
 'z': [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]}

In [88]:
keys = ['x','y','z']
for key in keys:
    print(f'{key} : {d[key][4]}')

x : 15
y : 25
z : 35