Q1
List the basic data types in python and give one example each.

strings eg. 'I am Derrick'
boolean eg. True
integer eg. 2
float eg. 3.14
dictionary eg. {'a':2}
tuple eg. (Jan, Feb)
list eg. [1,2,3]

Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

In [3]:
x = 4539.85
y = str(x)
y

'4539.85'

In [52]:
z = int(x)
z

4539

Q3
What data type would you use to store

a. The price of car?

b. The age of a person

c. car plate number: plateNumber = "AV01-AFP"?

d. The price of fuel

e. The number of students in the class

f. The weight of a person

g. Check whether two figures are equal

i. The name of a school

j. The average result of the overall score of a student

k. The total number of vote cast

a. float
b. int
c. string
d. float
e. int
f. float
g. boolean
i. string
j. float
k. int

Q4
Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team

Split the statement above into two statement_1 and statement_2 such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement:

What is the length of statment 1?
What is the length of statment 2?

In [13]:
statement ='Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team'.split('. ')
statement

['Thomas Partey is arguably the best player in the Black Stars',
 'He is a great addition to the team']

In [14]:
statement1 = statement[0]
statement1

'Thomas Partey is arguably the best player in the Black Stars'

In [15]:
statement2 = statement[1]
statement2

'He is a great addition to the team'

In [18]:
len(statement1)
#length of statement1 is 60

60

In [19]:
len(statement2)
#length of statement2 is 34

34

In [20]:
#Yes, lenlength of statement1 is greater than length of statement2

Q5 What values does python use to represent True and False respectively?

1 and 0

6. Write a code to evaluate if the following statments are True or False.

78 is greater than 46 and less than 30 which is an odd number.

8-2 is an even number or 8 is a is an odd number.

The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [4]:
46<78<30 and 30%2!=0

False

In [24]:
((8-2) % 2 == 0) or (8%2!=0)

True

In [54]:
(len('boostrap')==7) and (len('sample')==6)

False

Q7
Given the following python code,

word='Hello, How are you?'

Write Python code to return the following

How
How are you
are
?
Hello, How are you

In [27]:
word='Hello, How are you?'

In [32]:
word[7:10]

'How'

In [34]:
word[7:-1]

'How are you'

In [36]:
word[11:14]

'are'

In [37]:
word[-1]

'?'

In [38]:
word[:-1]

'Hello, How are you'

Q8 Given the following python code,

sentence = "I am very excited"

Write Python code to return

Convert sentence to upper case
Convert sentence to lower case
Convert sentence to title case
Convert sentence to list of strings

In [39]:
sentence = "I am very excited"
sentence.lower()

'i am very excited'

In [40]:
sentence.upper()

'I AM VERY EXCITED'

In [41]:
sentence.title()

'I Am Very Excited'

In [42]:
sentence.split(" ")

['I', 'am', 'very', 'excited']

Q9
word = 'OneThirtyEight'

Using Python code extract the following from the variable word:

One
Thirty
Eight
OneThirty
ThirtyEight
ONETHIRTYEIGHT

In [43]:
word = 'OneThirtyEight'
word[:3]

'One'

In [45]:
word[3:9]

'Thirty'

In [47]:
word[9:]

'Eight'

In [48]:
word[:9]

'OneThirty'

In [49]:
word[3:]

'ThirtyEight'

In [53]:
word.upper()

'ONETHIRTYEIGHT'

Q10
Turn Ault'Kelly into a string and assign it to a variable called name.

In [55]:
name = "Ault'Kelly"

In [2]:
bool(5>7)

False